.shop{
    display: flex;
}
.course-container{
    width: 80%;
    margin-left:100px;
    border-right: 1px solid lightseagreen;
    padding:10px;
}
.cart-container{
    width: 20%;
    padding:10px;
}